.about {
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
  }
  .about .heading {
    font-size: 30px;
    margin-top: 10px;
    text-align: center; /* Centrer le texte horizontalement */
}

.about .heading span {
    font-size: 30px;
    color: #011aff;
    margin: auto; /* Centrer l'élément span horizontalement */
}

  .about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Ajout pour séparer le logo et les éléments de navigation */
    padding: 0 20px; /* Espacement autour du contenu pour les grands écrans */
}
  .about .row .image {
    text-align: center;
    flex: 1 1 35rem;
  }
  .about .row .image img {
    margin: 4rem;
    width: 25rem;
    height: auto;
    margin-top: 0px;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
 
  .about .row .content {
    flex: 1 1 45rem;
    margin-bottom: 40px;
    text-align: left;
  }
  .about .row .content h3 {
    color: rgb(27, 27, 27);
    font-size: 1.7rem;
    
  }
  .about .row .content .tag {
    font-size: 1.3rem;
    color: #fdfdfd;
    font-weight: 600;
    margin-top: 1rem;
    background-color: #283eff;
  }
  .about .row .content p {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
   
  }
  .about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
  }
  .about .row .content .box-container .box p {
    text-transform: none;
  }
  .about .row .content .box-container .box p span {
    color: #050714;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .resumebtn {
    margin-top: 2rem;
    
  }
  .resumebtn .btn {
    padding: 1.2rem 0.5rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    text-decoration: none;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .resumebtn .btn span {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  .resumebtn .btn:hover {
    background: #000;
    color: white;
  }
  .resumebtn .btn:hover i {
    transform: translateX(5px);
  }
 